In [149]:
#import stuff
import xarray as xr
import numpy as np
#import matplotlib.pyplot as plt
#import matplotlib as mpl
import cartopy
import cartopy.crs as ccrs
#import os
#import cmocean 
from cartopy.util import add_cyclic_point
from scipy import stats as stats

In [132]:
#error in dp
def error_d(xa, ya): #error in double precision
    xa64 = orig_val.astype(np.float64)
    ya64 = recon_val.astype(np.float64)
    return xa64 - ya64

In [133]:
#calculate K-S p-value
def calc_ks(orig_val, recon_val):
    o64 = orig_val.astype(np.float64)
    r64 = recon_val.astype(np.float64)
    ks_stat, p_val = stats.ks_2samp(np.ravel(o64), np.ravel(r64))
    return p_val

In [134]:
orig_ds = xr.open_dataset('../data/orig.TS.100days.nc')

In [135]:
recon_ds = xr.open_dataset('../data/zfp1.0.TS.100days.nc')

In [136]:
recon_ds_2 = xr.open_dataset('../data/zfp1e-1.TS.100days.nc')

In [137]:
orig_ts = orig_ds.TS

In [138]:
recon_ts = recon_ds.TS

In [158]:
calc_ks(orig_ts.isel(time=0), recon_ts.isel(time=0))

0.9999999999132105

In [141]:
#pearson correlation coefficient
def calc_corr(orig_val, recon_val):
    o64 = orig_val.astype(np.float64)
    r64 = recon_val.astype(np.float64)
    r, pval = stats.pearsonr(np.ravel(o64), np.ravel(r64))
    return r

In [159]:
calc_corr(orig_ts.isel(time=0), recon_ts.isel(time=0))

0.9999947706571545

In [144]:
#normalized (by range) root mean square error
def calc_nrmse(orig_val, recon_val): 
    e = error_d(orig_val, recon_val)
    mse = np.sum(np.square(e)).mean()
    rmse = np.sqrt(mse)
    dy_range = np.max(orig_val)-np.min(orig_val)
    nrmse = rmse/dy_range
    #if you want to return a float
    n = nrmse.to_pandas()
    t = n.tolist()
    return t

In [145]:
v = calc_nrmse(orig_ts.isel(time=0), recon_ts.isel(time=0))

In [146]:
v

0.17907752867182808

In [147]:
#mean absolute error (not weighted - yet)
def calc_mae(orig_val, recon_val): 
    e = error_d(orig_val, recon_val)
    return np.mean(np.abs(e))

In [148]:
calc_mae(orig_ts.isel(time=0), recon_ts.isel(time=0))

<xarray.DataArray 'TS' ()>
array(0.05852021)
Coordinates:
    time     object 1920-01-01 00:00:00

In [153]:
#mean error
def calc_me(orig_val, recon_val): 
    e = error_d(orig_val, recon_val)
    return np.mean(e)

In [152]:
#max error
def calc_maxerr(orig_val, recon_val): 
    e = error_d(orig_val, recon_val)
    return np.max(e)

In [155]:
calc_me(orig_ts.isel(time=0), recon_ts.isel(time=0))

<xarray.DataArray 'TS' ()>
array(0.00576729)
Coordinates:
    time     object 1920-01-01 00:00:00

In [156]:
calc_maxerr(orig_ts.isel(time=0), recon_ts.isel(time=0))

<xarray.DataArray 'TS' ()>
array(0.40588379)
Coordinates:
    time     object 1920-01-01 00:00:00

In [160]:
#visualize mean value at each grid point for orig and compressed (time-series)
#def plot_mean_vals(orig_ds, recon_ds, varname)
mean_data_o = orig_ts.mean(dim='time')
mean_data_c = recon_ts.mean(dim='time')
lat_o = orig_ds.lat
lat_r = recon_ds.lat
cy_data, lon_o = add_cyclic_point(mean_data_o, coord=orig_ds.lon)

In [162]:
varname = 'TS'

In [163]:
orig_ds.varname

AttributeError: 'Dataset' object has no attribute 'varname'